<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Know your Weather</title>
</head>
<body>
    <header></header>
    <section id="headline">
        <div id="intro-container">My Weather</div>
        <div id="search-container"><%- include('./_searchbox') %> </div>
    </section>
    <section id="main-section">
        <div id="main-container">
            <div id="main-info-container">
                <div id="name-date-container">
                    <div id="name-container"><%= weather.city %> , <%= weather.country %> </div>
                    <% let weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] %> 
                    <% let d=new Date() %>
                    <% let weekday=weekdays[d.getDay()-1] %>
                    <% let months=["January","February","March","April","May","June","July","August","September","October","November","December"] %> 
                    <div id="date-container"><%= weekday %>  | <%= d.getDate() %> <%= months[d.getMonth()] %> |  <%= d.getFullYear() %>  </div>
                </div>
                <div id="weather-summary-container">
                    <div id="weather-info-container">
                        <div id="temperature-container"> 
                            <div id="temperature">
                                <div id="temp-value"><%= weather.temperature %></div>
                                <div id="temp-unit">  &#8457</div>
                            </div>
                            <div id="min-max-temp"><%= weather.min_temp %> &#8457 | <%= weather.max_temp %> &#8457 </div>
                        </div> 
                        <div id="weather-description-container">
                            <div id="weather-icon"><img src="http://openweathermap.org/img/w/<%= weather.icon %>.png" alt="Image"></div>
                            <div id="weather-description"><%= weather.description %></div>
                        </div>
                    </div>
                    <div id="extra-container">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="side-container">
            <div id="container-1" class="side-info-container">
                <div id="feels-like" class="side-info">
                    <div id="feels-like-label" class="side-label">Feels like</div>
                    <div id="feels-like-value" class="side-value"><%= weather.feels_like %>  &#8457</div>
                </div>
            </div>
            <div id="container-2" class="side-info-container">
                <div id="humidity" class="side-info">
                    <div id="humidity-label" class="side-label">Humidity</div>
                    <div id="humidity-value" class="side-value"><%= weather.humidity %>  %</div>
                </div>
            </div>
            <div id="container-3" class="side-info-container">
                <div id="pressure" class="side-info">
                    <div id="pressure-label" class="side-label">Pressure</div>
                    <div id="pressure-value" class="side-value"><%= weather.pressure %> hPa</div>
                </div>
            </div>
            <div id="container-4" class="side-info-container">
                <div id="wind-speed" class="side-info">
                    <div id="wind-speed-label" class="side-label">Wind speed</div>
                    <div id="wind-speed-value" class="side-value"><%= weather.wind_speed %> Kmph / <%= weather.wind_dir %> deg</div>
                </div>
            </div>
            <div id="container-5" class="side-info-container">
                <div id="visibility" class="side-info">
                    <div id="visibility-label" class="side-label">Visibility</div>
                    <div id="visibility-value" class="side-value"><%= weather.visibility %>  m</div>
                </div>
            </div>
            <div id="container-6" class="side-info-container">
                <div id="sunrise" class="side-info">
                    <% let dateObj1=new Date(weather.sunrise*1000) %>
                    <% let hours1=dateObj1.getUTCHours().toString() %>
                    <% let mins1=dateObj1.getUTCMinutes().toString() %>
                    <% let secs1=dateObj1.getUTCSeconds().toString() %>

                    <% let dateObj2=new Date(weather.sunset*1000) %>
                    <% let hours2=dateObj2.getUTCHours().toString() %>
                    <% let mins2=dateObj2.getUTCMinutes().toString() %>
                    <% let secs2=dateObj2.getUTCSeconds().toString() %>  
                    <div id="sunrise-label" class="side-label">Sunrise</div>
                    <div id="sunrise-value" class="side-value"><%= hours1 %>:<%= mins1 %>:<%= secs1 %></div>
                </div>
                <div id="sunset" class="side-info">
                    <div id="sunset-label" class="side-label">Sunset</div>
                    <div id="sunset-value" class="side-value"><%= hours2 %>:<%= mins2 %>:<%= secs2 %></div>
                </div>
            </div>
            <div id="container-7" class="side-info-container">
                <div id="timezone" class="side-info">
                    <% let timeUTC=weather.timezone/3600 %>
                    <% let sign=timeUTC>=0?'+':'' %>  
                    <div id="timezone-label" class="side-label">Time zone</div>
                    <div id="timezone-value" class="side-value"><%= sign %>  <%= timeUTC%> UTC</div>
                </div>
            </div>
        </div>    
    </section>
    <footer>hello this is footer</footer>
</body>
</html>